@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');

html {
    font-size: 62.5%;
}

body {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: $m-size;
    padding: 2rem 6rem;
    ///background: $dark-blue;
  }

  a {
    text-decoration: none;
    color: black;
  }
  
  button {
    cursor: pointer;
  }
  
  button:disabled {
    cursor: default;
  }